body {
    padding: 25px;
    min-height: 100vh;
    background-size: cover;
    font-family: Helvetica;
    color: white;
    background: linear-gradient(135deg, #1338f6 0%, #fc466b 100%);
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    }
    timer {
      font-family: 'Courier New', Courier, monospace;
      font-size: 2rem;
    }
    weekday {
      font-size: 1.5rem;
      
    }

    questions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 10vh;
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      font-size: 2rem;
      ;
    }

    answer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 10vh;
      font-size: 1.5rem;
      font-family: 'Courier New', Courier, monospace;
      color: white;
      padding-left: 35%;
      text-align: center;
      background-color: black;
    }
    
    .big-text {
    font-size: 2.8rem;
    }
    /*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 30%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	/*position: relative;*/
	/*display:inline;*/
	/*display: inline-block;*/
	/*float: left;*/
	/*margin-right: 5px;
    margin-bottom: 20px;*/
    
}
.end { margin-right: 0 !important; }
